<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<title>Kyle Lucovsky</title>
    	<meta name="description" content="Kyle Lucovsky's portfolio">
    	<meta name="author" content="Kyle Lucovsky">
    	<link href="stylesheets/main.css" rel="stylesheet">
		</head>
	<body>
    	<%= message %>
 	</body>
</html>