<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<title><%= title %></title>
    	<meta name="description" content="Kyle Lucovsky's portfolio">
    	<meta name="author" content="Kyle Lucovsky">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="stylesheets/main.css" rel="stylesheet">
		</head>
	<body>
		<!-- load up svg elements -->
    	<% include partials/svg.ejs %>

		<section class="section hero">
			<div class="logo">
				<svg class="letter letter-k">
					<use xlink:href="#k_shape" />
				</svg>
				<svg class="period first">
					<use xlink:href="#small_triangle" />
				</svg>
				<svg class="letter letter-w">
					<use xlink:href="#w_shape" />
				</svg>
				<svg class="period second">
					<use xlink:href="#small_triangle" />
				</svg>
				<svg class="letter letter-l">
					<use xlink:href="#l_shape" />
				</svg>
			</div>
			<h2>iOS and web developer</h2>
		</section>

		<section class="section about">
            <div class="wrapper about-wrapper">
                <div class="clouds">
                    <svg>
                        <use xlink:href="#cloud_3" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_1" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_2" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_5" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_4" />
                    </svg>
                </div>
                <div class="hills">
                    <svg>
                        <use xlink:href="#tall_hill" />
                    </svg>
                    <svg>
                        <use xlink:href="#short_hill" />
                    </svg>
                    <p class="about-text">Hello! My name’s Kyle Lucovsky. I’m a software engineer in Brooklyn, NY. I like knitting hats and playing with my pup, Butter. If you like what you see, say “Hey!”</p>
                </div>
            </div>
		</section>

		<section class="section personal">
            <div class="wrapper personal-wrapper">
                <svg class="iphone-svg">
                    <use xlink:href="#iphone" />
                </svg>
                <div class="personal-apps">
                    <div class="app-icon">
                        <img src="img/buttr_icon.png" srcset="img/buttr_icon.png 1x, img/buttr_icon@2x.png 2x, img/buttr_icon@3x.png 3x"/>
                        <h3>Buttr</h3>
                    </div>
                    <div class="app-icon">
                        <img src="img/kristin_icon.png" srcset="img/kristin_icon.png 1x, img/kristin_icon@2x.png 2x, img/kristin_icon@3x.png 3x"/>
                        <h3>500 Days</h3>
                    </div>
                </div>
            </div>
    	</section>

		<section class="section professional">
    	</section>
 	</body>
</html>
