<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<title><%= title %></title>
    	<meta name="description" content="Kyle Lucovsky's portfolio">
    	<meta name="author" content="Kyle Lucovsky">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="stylesheets/main.css" rel="stylesheet">
		</head>
	<body>
		<!-- load up svg elements -->
    	<% include partials/svg.ejs %>

		<section class="section hero">
			<div class="logo">
				<svg class="letter letter-k">
					<use xlink:href="#k_shape" />
				</svg>
				<svg class="period first">
					<use xlink:href="#small_triangle" />
				</svg>
				<svg class="letter letter-w">
					<use xlink:href="#w_shape" />
				</svg>
				<svg class="period second">
					<use xlink:href="#small_triangle" />
				</svg>
				<svg class="letter letter-l">
					<use xlink:href="#l_shape" />
				</svg>
			</div>
			<h2>iOS and Web Developer</h2>
		</section>

		<section class="section about">
            <div class="wrapper about-wrapper">
                <div class="clouds">
                    <svg>
                        <use xlink:href="#cloud_3" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_1" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_2" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_5" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_4" />
                    </svg>
                </div>
                <div class="hills">
                    <svg>
                        <use xlink:href="#tall_hill" />
                    </svg>
                    <svg>
                        <use xlink:href="#short_hill" />
                    </svg>
                    <p class="about-text">Hello! My name’s Kyle Lucovsky. I’m a software engineer in Brooklyn, NY. I like knitting hats and playing with my pup, Butter. If you like what you see, say “Hey!”</p>
                </div>
            </div>
		</section>

		<section class="section personal">
            <div class="wrapper personal-wrapper">
                <svg class="iphone-svg">
                    <use xlink:href="#iphone" />
                </svg>
                <div class="personal-apps">
                    <div class="app-icon" data-info="buttr">
                        <img src="img/buttr_icon.png" srcset="img/buttr_icon.png 1x, img/buttr_icon@2x.png 2x, img/buttr_icon@3x.png 3x"/>
                        <h3>Buttr</h3>
                    </div>
                    <div class="app-icon" data-info="500days">
                        <img src="img/kristin_icon.png" srcset="img/kristin_icon.png 1x, img/kristin_icon@2x.png 2x, img/kristin_icon@3x.png 3x"/>
                        <h3>500 Days</h3>
                    </div>
                    <div class="app-info collapsed">
                        <a class="app-info-close" href="javascript:void(0)">
                            <svg>
                                <use xlink:href="#x_icon" />
                            </svg>
                        </a>
                        <p class="hide" data-info="buttr">
                            Buttr
                        </p>
                        <p class="hide" data-info="500days">
                            500 days
                        </p>
                    </div>
                </div>
            </div>
    	</section>

		<section class="section professional">
            <div class="wrapper professional-wrapper">
                <div class="browser">
                    <div class="browser-actions">
                        <svg class="icon-browser-action close">
                            <use xlink:href="#browser_action" />
                        </svg>
                        <svg class="icon-browser-action minimize">
                            <use xlink:href="#browser_action" />
                        </svg>
                        <svg class="icon-browser-action maximize">
                            <use xlink:href="#browser_action" />
                        </svg>
                    </div>
                    <div class="browser-address"></div>
                    <div class="browser-window">
                        <div class="jobs">
                            <img class="job-icon" src="img/logo_gawker.png" srcset="img/logo_gawker.png 1x, img/logo_gawker@2x.png 2x, img/logo_gawker@3x.png 3x" />
                            <img class="job-icon" src="img/logo_vimeo.png" srcset="img/logo_vimeo.png 1x, img/logo_vimeo@2x.png 2x, img/logo_vimeo@3x.png 3x" />
                            <img class="job-icon" src="img/logo_appacademy.png" srcset="img/logo_appacademy.png 1x, img/logo_appacademy@2x.png 2x, img/logo_appacademy@3x.png 3x" />
                            <img class="job-icon" src="img/logo_yahoo.png" srcset="img/logo_yahoo.png 1x, img/logo_yahoo@2x.png 2x, img/logo_yahoo@3x.png 3x" />
                        </div>
                    </div>
                </div>
            </div>
    	</section>
        <script>
            (function () {
                function Portfolio() { }

                Portfolio.prototype.init = function () {
                    console.log(this);
                    document.addEventListener('DOMContentLoaded', this.attachEvents.bind(this))
                }

                Portfolio.prototype.attachEvents = function () {
                    var icons = document.getElementsByClassName('app-icon'),
                        close = document.getElementsByClassName('app-info-close')[0];

                    for (i = 0; i < icons.length; i++) {
                        icons[i].addEventListener('click', this.openAppInfo.bind(this));
                    }

                    close.addEventListener('click', this.closeAppInfo.bind(this));
                }

                Portfolio.prototype.openAppInfo = function (evt) {
                    var appInfo = document.getElementsByClassName('app-info')[0];

                    appInfo.classList.remove('collapsed');
                }

                Portfolio.prototype.closeAppInfo = function (evt) {
                    var appInfo = document.getElementsByClassName('app-info')[0];

                    appInfo.classList.add('collapsed');
                }

                var portfolio = new Portfolio();
                portfolio.init();
            })()
        </script>
 	</body>
</html>
